@media(max-width:600px) {
   .nav_bar{
    height:5rem;
    justify-content: space-between;
   }
   .nav_content{
    display: none;

   }
   .logo img {
    width: 3rem;
    height: 2.7rem;
    margin-left: 2rem;
  }
  .hamburger-menu {
    display: flex;
    z-index: 999;
    padding-right: 2rem;
}
.mail_btn button{
  width: 10rem;
  height: 3rem;
  font-size:0.8rem;
}
.mail_btn button i{
  font-size: 1rem;
}
#sidebar{
  width: 15rem ;
  
}
#sidebar .navcontent{
  margin-left: 1rem;
}
#sidebar .navcontent a{
  font-size: 1.5rem;
  line-height: 2rem;
  
}
/* -------------- slide ------------*/
.slider{
  height: 46rem;
}
.slide{
  -webkit-flex-direction:column;
   justify-content: center;
  
}
.arrow1,  .arrow1_1 {
  display: none; /* Hide arrow buttons on mobile */
}
.info,.info1,.info2{
  margin-top: 17rem;
  padding-right: 2rem;
}
.info h1,.info1 h1,.info2 h1{
  font-size: 1.5rem;
  line-height: 2rem;
  width: 90vw;
  -webkit-transform:translateY(3rem);
}
.info p,.info1 p,.info2 p{
  font-size: 0.9rem;
  line-height: 1.5rem;
  width:90vw;
}
.arrow2{
  width: 3rem;
  height: 3rem;
  -webkit-transform: translateY(-5rem);
  margin-left: 16rem;
}
.arrow2 img{
  width: 1.4rem;
  height: 1rem;
}
.image img,.image01 img,.image02 img{
  width: 20rem;
  height: auto;
  margin-top: -16rem;
  margin-right: 7rem;
  box-shadow: none;
}
.image.iphone-specific img{
  -webkit-transform: translateY(2rem);
}
.image01.iphone-specific img{
  -webkit-transform: translateY(2rem);
}
.image02.iphone-specific img{
  -webkit-transform: translateY(2rem);
}
.dotted_arrow img{
  display: none;
}
.info a,.info1 a,.info2 a{
  width: 8rem;
  height: 3rem;
  font-size:1rem;
  margin-left: -2rem;
}

.footer{
  display: none;
}

/* ----- about us -------------*/
.aboutus{
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  
}
.abt_img img{
  width: 16rem;
  height: auto;
  -webkit-transform: translateY(-3rem);
}
.abt_info {
  -webkit-transform:translateY(-2rem);
  padding-left: 1rem;
}
.abt_info h1{
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.abt_info h2{
  font-size: 1.5rem;
  line-height: 2rem;
  width: 90vw;
}
.abt_info h3{
  font-size:0.9rem ;
  line-height: 1.4rem;

}
.abt_info a{
  width: 8rem;
  height: 3rem;
}
#service{
  height: 75rem;
}
#slide1 .card2 ,#slide1 .card3{
  display: none;
}
#slide2 .card1 ,#slide2 .card3{
  display: none;
}
#slide3 .card1 ,#slide3 .card2{
  display: none;
}
#slide4 .card1 ,#slide4 .card2{
  display: none;
}
#slide1 h1,#slide2 h1,#slide3 h1,#slide4 h1{
  font-size: 1.1rem;
  line-height: 2rem;
  -webkit-transform:translateY(-2rem);
}
.card1,.card2,.card3{
  width: 17rem;
  height: 15rem;
  -webkit-transform:translateY(-4rem);
  margin-left: 2rem;
}
.img img{
  width: 4rem;
  height: 4rem;
}
.naming h2{
  font-size: 1rem;
  line-height: 1rem;
}
.information h3{
  font-size: 0.7rem;
  line-height: 1rem;
}
.arrow2_2{
  width: 3rem;
  height: 3rem;
}
.arrow2_2 img{
  width: 1.4rem;
  height: 1rem;
}
.digital_marketing_info{
  flex-wrap: wrap;
  flex-direction: column;
  
}
.informations h2{
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 15rem;
  
}
.details p{
  font-size: 0.8rem;
  line-height: 1.2rem;
  width: 15rem;
  
}
.details2 li{
  font-size: 0.7rem;
  line-height: 1rem;
  width: 15rem;
  margin-left: -4rem;
}
.info_contents{
  transform: translateY(2rem);
  margin-left: -4rem;
  text-align: start;
}
.horizontal_line{
  display: none;
}
.info_img{
  width: 60vw;
  height: 60vw;
  margin-left: 6vw;
  transform: translateY(-3.5rem);
 }
 .info_img img{
   width: 20vw;
   height: 28vw;
   
  
    
 }
 .info1_img{
  margin-left: 6vw;
  transform: translateY(-3.5rem);
 }
.info1_img img{
  width: 60vw;
  height: 60vw;
  box-shadow:none;
}
.info_contents{
  
}
.info_contents.iphone-specific {
  -webkit-transform: translateY(14rem);
}

/*---------------blog ---------------*/
#blog{
  height: 50rem;
}
.picture img{
  display: none;
}
.star2 img{
  display: none;
}
.blog_heading{
  -webkit-transform: translateY(-10rem);
  margin-left: 1rem;
}
.blog_heading h1{
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.blog_heading p{
  font-size: 0.62rem;
  line-height: 1.6rem;
  width:28rem
  
  
}
.dm_content,.finance{
  width: 22rem;
  height: 6rem;
  -webkit-transform: translateY(-8rem);
  margin-left: -4rem;
  justify-content: center;
  align-items: center;
}
.hr_content,.it_content{
  -webkit-transform: translateY(14.2rem);
  width: 22rem;
  height: 6rem;
  margin-left: -10.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dm_content h2,.finance h2,.it_content h2,.hr_content h2{
  font-size: 1rem;
  line-height: 1rem;
}
.dm_content p,.finance p,.it_content p,.hr_content p{
  font-size: 0.6rem;
  line-height: 1rem;
}
.dm_content a,.finance a,.it_content a,.hr_content a{
  font-size: 0.6rem;
  line-height: 1rem;
}
.hr_content.iphone-specific{
  margin-left: -10.2rem;
  -webkit-transform: translateY(14rem);
}
.it_content.iphone-specific{
   -webkit-transform: translateY(15rem);
   margin-left: -10.2rem;
}
/* ----------------- feedback ---------------*/
.feedback_section{
  height: 70rem;
}
.fdback_txt h1{
  font-size: 1.2rem;
  line-height: 1.5rem;
  -webkit-transform: translateY(-2rem);
}
.cards{
  flex-direction: column;
  height: 60rem;
  -webkit-transform: translateY(-20rem);
}
.cards.iphone-specific{
  -webkit-transform: translateY(-14rem);
}
.cards01,.cards02,.cards03{
  width: 18rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
}
.one img{
  width: 4rem;
  height: 4rem;
}
.one p{
  font-size: 0.7rem;
  line-height: 1rem;
}
.one p span{
  font-size: 0.7rem;
  line-height: 1rem;
}
.information p{
  font-size: 0.7rem;
  line-height: 1.1rem;
}
/*------------- our team -------------*/
.ourteam h3{
  font-size: 1.2rem;
}
.ourteam  p{
  font-size: 1rem;
  line-height: 1.3rem;
}
.minicards{
  width: 20rem;
  height: 10rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.min_card img{
   width: 4rem;
   height: 4rem;
}
.min_card p{
  font-size: 0.6rem;
  line-height: 1rem;
}
/* --------- our client ---------------*/
.our_clients{
  height: 40rem;
}
 .client_heading h4{
  font-size: 1.2rem;
 }
 .client_heading p{
  font-size: 0.8rem;
 }
 /* .swiper{
  height: 80rem;
  -webkit-transform: translateY(4rem);
 } */
 .swiping{
  flex-direction: column;
  height: 30rem;
 }
 .sliding_feature{
  flex-direction: column;
 }
 .cd1 {
  width: 8rem;
  height: 8rem;
  box-shadow: none;
 }
 .arrow1__1{
  display: none;
 }
 .arrow2__2{
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 1.4rem;
 }
 .arrow2__2 img{
  width: 1.4rem;
  height: 1rem;
 }
 #imgage_1 img{
  width: 15vw;
  height: 5vw;
}
#imgage_2 img{
  width: 19vw;
  height: 15vw;
}
#imgage_3 img{
  width: 17vw;
  height: 10vw;
}
#imgage_10 img{
  width: 17vw;
  height: 17vw;
}
#imgage_11 img{
  width: 18vw;
  height: 17.5vw;
}
#imgage_12 img{
  width: 17vw;
  height: 17vw;
}
#imgage_4 img,#imgage_5 img{
  width: 17vw;
  height: 17vw;
}
#imgage_6 img{
  width: 17vw;
  height: 10vw;
}
/*--------------- whatsapp ----------------*/
.whatsapp_contact{
  height: 30rem;
  flex-direction: column;
  margin-top: -1rem;
}
.design1 img{
  display: none;
}
.star_img img{
  display: none;
}
.content01{
  -webkit-transform: translateY(-2rem);
  margin-left: 2rem;
}
.content01 h3{
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.content01 p{
  font-size: 0.8rem;
  line-height: 1rem;
  width: 15rem;
}
.content01 a{
  font-size: 0.8rem;
  line-height: 1rem;
}
.contact_deatils{
  -webkit-transform: translateY(-2rem);
  padding-right: 11rem;
}
.contact_deatils img{
  width: 2rem;
  height: 2rem;
}
.contact_deatils p{
  font-size: 1rem;
  line-height: 1rem;
}
.contact_deatils h3{
  font-size: 1rem;
  line-height: 1rem;
}
/*------------ contact---------------------------*/
/* .contact{
  height: 40rem;
}
.contact_details{
  
}
.c1{
  -webkit-transform: translateY(-5rem);
}
.c1 img{
  width: 4rem;
  height: 3rem;
}
.c1 p{
  font-size: 0.8rem;
  line-height: 1rem;
  width: 15rem;
}
.icons a i{
  font-size: 1rem;
  line-height: 1rem;
}
.informations h3{
  font-size: 1rem;
  line-height: 1rem;
}
.informations a{
  font-size: 0.8rem;
  line-height: 1rem;
} */
 .contact{
  height: 40rem;
 }
.contact_details{
  width: 70vw;
  
}
.c1{
  transform: translateY(-5vh);
  -webkit-transform: translateY(-5vh);
}
.c1 img{
  width: 5rem;
  height: 4rem;
}
.c1 p{
  font-size: 3vw;
  line-height: 4vw;
  width: 15rem
}
#info{
  transform: translateY(-7vh);
  -webkit-transform: translateY(-7vh);
}
.informations h3{
  font-size: 1rem;
}
.informations a{
  font-size: 0.8rem;
  line-height: 1rem;
  
}
.contact_us{
  transform: translateY(9rem);
  -webkit-transform: translateY(9rem);
 margin-left: -22rem;
}
.contact_us h3{
  font-size: 1rem;
}
.contact_us a{
  font-size: 0.7rem;
  
  line-height: 1rem;
}
.contact_footer{
  -webkit-transform: translateY(8rem);
  flex-direction: column;
  gap: 1rem;
  
 
}
.rights p{
  font-size: 0.8rem;
  line-height: 1rem;
}
.navigators a{
  font-size: 0.8rem;
  line-height: 1rem;
}
.icons i{
  font-size: 1.2rem;
}
.lines hr{
  display: none;
}
.sticky_buttons .third,.sticky_buttons .fourth,.sticky_buttons .fifth,.sticky_buttons .second{
  display: none;
}
.sticky_buttons .first{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  justify-content: center;
  transform: translateY(-10rem);
}


}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 834px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait)
  and (hover: none) 
  and (pointer: coarse) {

  /* Your iPhone-specific styles */
  .info_contents{
    -webkit-transform: translateY(15rem);
  }
}